/* estilos para banco_trabajo.html*/

/*body {
  font-family: "InterRegular";
  font-weight:normal;
}*/

.container {
  margin-top: 2rem;

}

form {
  margin-top: 2rem;
  display:none;
}

.opciones {
  width: 650px;
}

ul {
  list-style: none;
}

li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a:hover {
  font-weight: bold;
}
a:link, a:visited, a:active {
  text-decoration: none;
}