/* estilos para banco_trabajo.html*/

/*body {
  font-family: "InterRegular";
  font-weight:normal;
}*/

.container {
  margin-top: 2rem;

}

form {
  margin-top: 2rem;
  margin-left: 1rem;
}

label, input {
  margin: 10px 0;
}

ul {
  list-style: none;
}

li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color:dodgerblue;
  min-width: 14rem;
  height: auto;
  text-align: center;
}

a:hover {
  font-weight: bold;
}
  a:link,  a:visited,  a:active {
  text-decoration: none;
}