body {
  font-family: 'InterRegular', sans-serif !important;
}

section {
  margin-top: 100px;
}

header {
  width: 55%;
  margin: 0 auto;
 
}

header> * {
  /*margin-top: 20px;*/
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#inicio {
  height: auto;
  width: 100px;
  margin: 0 auto;
}



